/* Made with love by Mutiullah Samim*/

.HomeTemplate {
  
  background-image: url('../../assets/images/blur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // height: 100vh;
  min-height: 800px;


  font-family: 'Numans', sans-serif;
  // background-position: center;
  
  
}

